/*YCMarch 2018-3-19*/
.inner{width: 1200px;margin: 0 auto;}
em{font-style: normal;}
/* ---- subbanner    begin   --- */
.subbanner{height: 283px;background: no-repeat center;text-align: center;padding-top: 108px;box-sizing: border-box;}
.subbanerTit{font-size: 42px;color: #fff;font-weight: bold;text-shadow: 2px 3px 4px #563500;}
.subbanerTit em{display: block;font-style: normal;font-size: 36px;text-transform: uppercase;font-weight: normal;opacity: .5;text-shadow:none;}
/* ---- subbanner    END     --- */

.indexHead{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;background: #fff;box-shadow: 0 0 10px #aaa;}
.indexRight{position: fixed;right: 0;top: 160px;width: 82px;background: #fff;}
.indexRight li{height: 100px;display: table;vertical-align: middle;width: 100%;text-align: center;position: relative;}
.indexRight li:before{content: '';position: absolute;bottom: 0;left: 50%;width: 20px;height: 1px;margin-left: -10px;background: #ddd;}
.indexRight li a{display: table-cell;vertical-align: middle;}
.indexRight li:hover{background: #f8b107;}
.indexRTit{font-size: 14px;color: #333;}
.indexRight li:hover .indexRTit{color: #fff;}
.indexRight li:last-child:before{display: none;}

/*  ----  jsjnhCon   begin   -----*/

.jsjnhCon-1{padding: 70px 0;}
.jsjnhCon .jsjnhCon-1:nth-child(even){background: #f8f8f8;}
.jsjnhCon-1Tit{float: left;}
.jsjnhCon-1Tit em{font-style: normal;padding-right: 30px;position: relative;font-size: 24px;color: #333;}
.jsjnhCon-1Tit em:before{content: '';position: absolute;right: 0;top: 50%;width: 19px;height: 17px;background: url("../images/titbg_05.png") no-repeat center;margin-top: -8px;}
.jsjnhCon-1Tit span{display: block;font-size: 20px;color: #333;opacity: .5;text-transform: uppercase;}
.moreBtn{float: right;font-size: 14px;color: #333;background: url("../images/morebg_09.png") no-repeat right center;padding-right: 18px;position: relative;top: 30px;}
.xfwmConTit .moreBtn:hover,.jsjnhCon-1Top .moreBtn:hover{color: #f5b040;}
.jsjnhCon-1Top{overflow: hidden;border-bottom: 1px #e5e5e5 solid;padding-bottom: 20px;position: relative;}

.jylcList{overflow: hidden;margin-left: -58px;padding-top: 45px;}
.jylcList li{width: 570px;height: 322px;overflow: hidden;float: left;position: relative;margin-left: 58px;}
.jylcLTit{position: absolute;bottom: 0;left: 0;width: 100%;height: 64px;line-height: 64px;background: rgba(0,0,0,.5);color: #fff;padding: 0 40px;box-sizing: border-box;overflow: hidden;}
.jylcLSign{width: 80px;height: 80px;position: absolute;right: 0;top: 0;background: #f09400;color: #fff;font-size: 18px;text-align: center;box-sizing: border-box;padding: 15px 20px 0 20px;}

.xfwmCon{overflow: hidden;padding-top: 10px;}
.xfwmConLeft{float: left;width: 573px;}
.xfwmConRight{float: right;width: 587px;}
.xfwmConTit{font-size: 18px;height: 54px;line-height: 54px;}
.xfwmConTit a{color: #333;}
.xfwmConTit .moreBtn{position: relative;top: 3px;}
.xfwmConRWrap{background: #fff;box-sizing: border-box;padding: 25px 30px 0 30px;height: 372px;}
.whcyImg{width: 197px;height: 128px;overflow: hidden;float: left;margin-right: 25px;}
.whcyImg img{display: block;}
.whcyRight{overflow: hidden;}
.whcyRightTit{height: 30px;line-height: 30px;overflow: hidden;font-size: 18px;color: #333;margin-top: -5px;}
.whcyRightBri{line-height: 25px;height: 75px;overflow: hidden;margin-bottom: 5px;font-size: 14px;color: #333;margin-top: 5px;}
.whcyRightTime{font-size: 14px;color: #333;}
.xfwmConRWrapTop{padding-bottom: 20px;border-bottom: 1px #c9c9c9 solid;margin-bottom: 10px;}
.xfwmConRWrapList li a{font-size: 14px;color: #333;}
.xfwmConRWrapList li span{float: right;padding-left: 15px;height: 35px;line-height: 35px;}
.xfwmConRWrapList li em{overflow: hidden;display: block;height: 35px;line-height: 35px;text-overflow:ellipsis;white-space:nowrap;}
.xfwmConRWrapTop:hover .whcyRightTit{color: #f09400;}
.xfwmConRWrapList li:hover a{color: #f09400;}

/* 本例子css */
.xfwmConLeftList{ width:572px; height:370px; overflow:hidden; position:relative;  }
.xfwmConLeftList .bd{ position:relative; height:100%; z-index:0;   }
.xfwmConLeftList .bd img{ display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.xfwmConLeftList .prev{ position:absolute; right:50px; bottom:0; display:block;width: 50px;height: 50px;background: #fbab2a url("../images/leftBtn_03.png") no-repeat center;}
.xfwmConLeftList .next{ position:absolute; right:0; bottom:0;  display:block; width: 50px;height: 50px;background: #fbab2a url("../images/rightBtn_03.png") no-repeat center; }
.xfwmConLeftList .prev:hover,
.xfwmConLeftList .next:hover{ background-color: #f19500;}

.whccTit{width: 100%;position: absolute;bottom: 0;left: 0;height: 50px;line-height: 50px;color: #fff;background: rgba(0,0,0,.8);padding: 0 20px;}
.jsjnhCon-3{padding-top: 20px;}
.zstjBottmImg{float: left;}
.zstjBottm{overflow: hidden;}

/* 本例子css */
.zstjTop{ width:1200px;  position:relative;  margin-bottom: 23px; }
.zstjTop .hd .prev{ display:block;  width:30px; height:70px;   overflow:hidden;position: absolute;left: -43px;top: 50%;background: url("../images/leftbtn.jpg") no-repeat left center;margin-top: -35px;cursor: pointer;}
.zstjTop .hd .prev:hover{background-position: right center;}
.zstjTop .hd .next{ display:block;  width:30px; height:70px;   overflow:hidden;position: absolute;right: -43px;top: 50%;background: url("../images/rightBtn.jpg") no-repeat right center;margin-top: -35px;cursor: pointer;}
.zstjTop .hd .next:hover{background-position: left center;}
.zstjTop .bd{ width:1200px; overflow:hidden;  }
.zstjTop .bd ul li{ float:left; _display:inline; overflow:hidden; width: 227px; margin-right: 16px; }
.zstjLbImg{height: 170px;overflow: hidden;}
.zstjLbBotm{height: 130px;background: #f8f8f8;padding: 17px;box-sizing: border-box;}
.zstjLbBTit{font-size: 16px;color: #000;height: 25px;line-height: 25px;overflow: hidden;}
.zstjLbBBri{line-height: 20px;height: 40px;overflow: hidden;margin: 10px 0;font-size: 12px;color: #666;}
.zstjLbBTime{font-size: 12px;color: #666;}

.cyxwCon{overflow: hidden;padding-top: 10px;}
.cyxwCon .xfwmConRight{float: left;width: 580px;}
.cyxwCon .xfwmConRight .xfwmConRWrap{height: 340px;box-sizing: border-box;}

.cyxwConRight{float: right;width: 580px;}
.cyxwConRList{margin-left: -16px;overflow: hidden;}
.cyxwConRList li{width: 280px;float: left;margin-left: 18px;background: #fff;height: 340px;}
.cyxwConRLImg{width: 280px;height: 185px;overflow: hidden;}
.cyxwConRLBotm{padding:10px 20px;box-sizing: border-box;}
.wccpTit{height: 35px;line-height: 35px;overflow: hidden;font-size: 20px;color: #000;}
.wccpBri{font-size: 14px;color: #666;line-height: 25px;height: 50px;overflow: hidden;margin-bottom: 10px;}
.cyxwConRLBbottom{padding-top: 10px;border-top: 2px #efefef solid;position: relative;}
.wccpTime{font-size: 14px;color: #666;}
.gwcBtn{display: block;width: 25px;height: 25px;background: #f19500 url("../images/gwcico_03.png") no-repeat center;border-radius: 50%;position: absolute;right: 0;top: 50%;margin-top: -10px;}


.nrhCLeft{float: left;width: 375px;}
.nrhCMid{float: left;width: 390px;margin-left: 35px;}
.nrhCRight{float: right;width: 372px;}
.nrhCon .jsjnhCon-1Top{margin-bottom: 20px;}
.nrhCLList{margin-left: -5px;}
.nrhCLList li{width: 185px;height: 116px;background: #f5b040;float: left;margin-left: 5px;margin-bottom: 5px;display: table;vertical-align: middle;text-align: center;position: relative;overflow: hidden;}
.nrhCLList li:before{content: '';width: 130%;height: 0;background: #e48d00;position: absolute;top: 63px;left: -17px;transform: rotate(211deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 0;}
.nrhCLList li:hover:before{height: 100%;transform: rotate(180deg);top: 0;left: 0;opacity: 1;}
.nrhCLList li a{display: table-cell;vertical-align: middle;position: relative;z-index: 2;}
.nrhCL-L-Tit{font-size: 14px;color: #fff;}
.nrhCL-L-Ico{margin-bottom: 10px;}
.nrhCon a.moreBtn{float: left;font-size: 14px;color: #333;position: relative;top: 15px;}
.nrhCon a.moreBtn:hover{color: #f5b040;}

.nrhCR-Con{background: #f5f5f5;height: 359px;padding: 10px 30px;box-sizing: border-box;}
.nrhCMidTabBtn p{width: 135px;height: 40px;text-align: center;line-height: 40px;background: #f5f5f5;display: inline-block;font-size: 14px;color: #000;cursor: pointer;}
.nrhCMidTabBtn p.act{background: #e48d00;color: #fff;}
.nrhCMidTabCon{height: 305px;background: #000;margin-top: 13px;overflow: hidden;}
/* 本例子css */
.nrhCMidTabCon-1{ width:390px;  overflow:hidden; position:relative;  height: 305px; }
.nrhCMidTabCon-1 .hd{ overflow:hidden;  position: absolute;bottom: 27px;right: 15px;z-index: 999;}
.nrhCMidTabCon-1 .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.nrhCMidTabCon-1 .hd ul li{ float:left;  width:6px; height:6px; overflow:hidden; margin-right:6px; text-indent:-999px; cursor:pointer; background: #fff; }
.nrhCMidTabCon-1 .hd ul li.on{ background: #f09400;}
.nrhCMidTabCon-1 .bd ul{ overflow:hidden; zoom:1; }
.nrhCMidTabCon-1 .bd ul li{  float:left; _display:inline; overflow:hidden; position: relative;  }
.nrhCMidTabConTit{height: 63px;line-height: 63px;background: rgba(0,0,0,.8);color: #fff;position: absolute;bottom: 0;left: 0;width: 100%;box-sizing: border-box;padding-left: 24px;}
.nrhCMidTabConTit em{width: 218px;display: block;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}

.nrhBotm{overflow: hidden;padding-top: 40px;}
.nrhBotm li{float: left;width: 50%;height: 100px;overflow: hidden;}

/* 本例子css */
.nrhCR-CLb{ width:100%;  overflow:hidden; position:relative;   }
.nrhCR-CLb .hd{ overflow:hidden;  text-align: center;line-height: 15px;margin-top: 23px; }
.nrhCR-CLb .hd .prev{  width:5px; height:9px; display: inline-block; overflow:hidden;
    cursor:pointer; background: url("../images/zuobtn.png") no-repeat left center;margin-right: 23px;}
.nrhCR-CLb .hd .prev:hover{background-position: right center;}
.nrhCR-CLb .hd .next{ display: inline-block;  width:6px; height:10px;  margin-left:23px;   overflow:hidden;
    cursor:pointer; background: url("../images/youbtn.png") no-repeat right center;}
.nrhCR-CLb .hd .next:hover{background-position: left center;}
.nrhCR-CLb .hd ul{ display: inline-block;}
.nrhCR-CLb .hd ul li{ display: inline-block;  width:5px; height:5px;background: #c4c4c4;font-size: 0;margin-right: 2.5px;cursor: pointer;margin-left: 2.5px;}
.nrhCR-CLb .hd ul li.on{ background: #f5b040;}
.nrhCR-CLb .bd{ }
.nrhCR-CLb .bd ul{ overflow:hidden; zoom:1; }
.nrhCR-CLb .bd ul li{  float:left; _display:inline; overflow:hidden; }
.nrhCR-CLb .bd ul li p{height: 47px;line-height: 47px;border-bottom: 1px #dededf solid;overflow: hidden;}
.nrhCR-CLb .bd ul li p:last-child{border-bottom: none;}
.nrhCR-CLb .bd ul li p a{padding-left: 17px;display: block;position: relative;font-size: 14px;color: #666;}
.nrhCR-CLb .bd ul li p a:before{content: '';width: 5px;height: 5px;background: #e48d00;position: absolute;left: 0;top: 50%;margin-top: -2.5px;}
.nrhCR-CLb .bd ul li p a:hover{color: #f5b040;}

.jxtjCon{padding: 80px 0;}
.jxList{margin-left: -34px;}
.jxList li{width: 275px;float: left;text-align: center;margin-left: 33px;margin-bottom: 15px;}
.jxImg{height: 178px;box-shadow: 0 0 10px #aaa;padding: 10px;box-sizing: border-box;}
.jxImg .img{display: block;}
.jxImgbox{width: 100%;height: 100%;overflow: hidden;}
.jxTit{height: 60px;line-height: 60px;font-size: 14px;color: #000;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.page{text-align: center;padding-top: 45px;}
.page a{display: inline-block;width: 36px;height: 36px;line-height: 35px;font-size: 19px;color: #666;}
.page a:hover,.page .pageAct{color: #fff;background: #d88700;}
.page .sxy{width: 68px;border:1px #ababab solid;margin: 0 15px;font-size: 12px;}

.photoTc{width: 100%;height: 565px;background: #fff;overflow: hidden;box-sizing: border-box;padding: 18px;}
.photoTcImg{margin: 0 auto;margin-bottom: 15px;width: 710px;}
.photoTcTit{font-size: 14px;color: #000;line-height: 25px;}

.vbox-next{right:20%;}
.vbox-prev{left: 20%;}
.vbox-title{opacity: 0;height: 0;overflow: hidden;}
.vbox-close{display: none;}
.vbox-overlay{overflow: hidden;}
/*  ----  jsjnhCon   END     -----*/

/*---    认识嘉年华引导页   begin   */

.rsjnhCon .rsjnhCon-1{padding: 80px 0;}
.rsjnhCon .rsjnhCon-1:nth-child(even){background: #f8f8f8;}

.rsjnhC1Box{height: 440px;background: no-repeat center;margin-top: 30px;overflow: hidden;position: relative;}
.rsjnhC1Box:before{content: '';width: 100%;height: 100%;background: rgba(0,0,0,.2);position: absolute;top: 0;left: 0;}
.rsjnhC1B-1{float: left;width: 400px;box-sizing: border-box;padding: 0 35px;height: 100%;position: relative;z-index: 3;}
.rsjnhC1B-1Tit{margin-top: 30px;height: 50px;line-height: 50px;font-size: 20px;margin-bottom: 20px;}
.rsjnhC1B-1Tit a{color: #fff;}
.rsjnhC1B-1Tit span{font-size: 14px;float: right;display: inline-block;padding-right: 16px;background: url("../images/ckgdbg_03.png") no-repeat right center;}
.rsjnhC1B-1LTime{float: right;margin-left: 45px;}
.rsjnhC1B-1LTit{overflow: hidden;position: relative;display: block;}
.rsjnhC1B-1LTit:before{content: '';width: 0;height: 1px;position: absolute;bottom: 9px;left: 50%;background: #fff;opacity: 0;}
.rsjnhC1B-1List li{background: url("../images/ghsjico_03.png") no-repeat left center;padding-left: 21px;line-height: 36px;height: 36px;overflow: hidden;}
.rsjnhC1B-1List2 li{background-image: url("../images/cxmsico_07.png")}
.rsjnhC1B-1List3 li{background-image: url("../images/shxyico_13.png")}
.rsjnhC1B-1List li:hover .rsjnhC1B-1LTit:before{width: 100%;left: 0;opacity: 1;}
.rsjnhC1B-1List li a{font-size: 14px;color: #fff;}
.rsjnhC1B-1:hover,.rsjnhC1B-1Act{background:rgba(0,0,0,.2);}

.zcltXXk span,.jdalXXk span{display: inline-block;margin-right: 25px;font-size: 18px;color: #333;position: relative;cursor: pointer;}
.zcltXXk,.jdalXXk{position: absolute;right: 100px;top: 28px;}
.zcltXXk:before,.jdalXXk:before{content: '';position: absolute;right: 0;top: 50%;height: 20px;width: 1px;background: #ddd;margin-top: -10px;}
.zcltXXk .zcltXXkAct,.jdalXXk .jdalXXkAct{color: #f19500;}
.zcltXXk .zcltXXkAct:before,.jdalXXk .jdalXXkAct:before{content: '';width: 100%;height: 1px;position: absolute;bottom: -10px;left: 0;background: #f19500;}

/* 本例子css */
.zcltCon1Lb{ width:1200px;  position:relative;  margin-bottom: 23px; }
.zcltCon1Lb .hd .prev{ display:block;  width:30px; height:70px;   overflow:hidden;position: absolute;left: -43px;top: 50%;background: url("../images/leftbtn.jpg") no-repeat left center;margin-top: -35px;cursor: pointer;}
.zcltCon1Lb .hd .prev:hover{background-position: right center;}
.zcltCon1Lb .hd .next{ display:block;  width:30px; height:70px;   overflow:hidden;position: absolute;right: -43px;top: 50%;background: url("../images/rightBtn.jpg") no-repeat right center;margin-top: -35px;cursor: pointer;}
.zcltCon1Lb .hd .next:hover{background-position: left center;}
.zcltCon1Lb .bd{ width:1200px; overflow:hidden;  }
.zcltCon1Lb .bd ul li{ float:left; _display:inline; overflow:hidden; width: 364px; margin-right: 55px; }
.zcltCon1LbImg{width: 365px;height: 243px;overflow: hidden;}
.zcltCon1LbTit{font-size: 18px;color: #333;height: 40px;line-height: 40px;overflow: hidden;margin: 10px 0;}
.zcltCon1LbBri{font-size: 14px;color: #666;}
.zcltCon1LbTime{height: 60px;line-height: 60px;overflow: hidden;font-size: 14px;color: #666;border-top: 1px #ddd solid;margin-top: 25px;}
.zcltCon1LbTime-1{float: left;}
.zcltCon1LbTime-2{float: right;margin-right: 6px;padding-right: 15px;background: url("../images/ckxqbg_23.png") no-repeat right center;}
.zcltCon{padding-top: 20px;}
.jsjnhCon-1TopNoborder{border-bottom: none;}
.zcltCon1Lb .bd ul li:hover .zcltCon1LbTit{color: #f19500;}

.jdalLbcz{border-top: 1px #ddd solid;padding-top: 15px;position: relative;}
.jdalTop .zstjLbBotm{height: 150px;}
.jdalLbczShare{position: absolute;top: 15px;right: 0;font-size: 12px;color: #666;padding-left: 20px;background: url("../images/fxbg_27.png") no-repeat left center;}
/*---    认识嘉年华引导页   END   */

/*乐活嘉年华   begin*/

.lhjnhCon1{padding: 70px 0 40px 0;}
.lhjnhCon1Top{overflow: hidden;}
.lhjnhCon1TopLeft{float: left;width: 585px;}
.lhjnhCon1TopRight{float: right;}
.lhjnhCon1TopRight .lhjnhCon1TopLeftBox .hd ul{display: none;}
.lhjnhCon1TopRight .lhjnhCon1TopLeftBox .hd{height: 0;}
.lhjnhCon1TopRight .lhjnhCon1TopLeftBox .hd .prev,.lhjnhCon1TopRight .lhjnhCon1TopLeftBox .hd .next{top: -215px;}
/* 本例子css */
.lhjnhCon1TopLeftBox{ width:585px;  overflow:hidden; position:relative; padding-top: 30px;  }
.lhjnhCon1TopLeftBox .hd{ position: absolute;bottom: 0;left: 0;width: 100%; background-color:rgba(0,0,0,.4);height: 45px; }
.lhjnhCon1TopLeftBox .hd .prev{ display:block;  width:40px; height:72px; background:rgba(0,0,0,.2) url("../images/leftbtn1_03.png") no-repeat center;position: absolute;left: 0;top: -170px;cursor: pointer;}
.lhjnhCon1TopLeftBox .hd .next{ display:block;  width:40px; height:72px; background:rgba(0,0,0,.2) url("../images/rightBtn1_05.png") no-repeat center;position: absolute;right: 0;top: -170px;cursor: pointer;}
.lhjnhCon1TopLeftBox .hd .prev:hover,.lhjnhCon1TopLeftBox .hd .next:hover{background-color: rgba(0,0,0,.4)}
.lhjnhCon1TopLeftBox .hd ul{ float:left; overflow:hidden; zoom:1; margin-top: 20px;margin-left: 20px;}
.lhjnhCon1TopLeftBox .hd ul li{ float:left;  width: 8px;height: 8px;background: #dcdcdc;font-size: 0px;margin-right: 5px; cursor: pointer; }
.lhjnhCon1TopLeftBox .hd ul li.on{ background: #f19500; }
.lhjnhCon1TopLeftBox .bd ul{ overflow:hidden; zoom:1; }
.lhjnhCon1TopLeftBox .bd ul li{ float:left; _display:inline; overflow:hidden; text-align:center; }

.lhjnhCon2{height: 400px;background: no-repeat center;position: relative;}
.lhjnhCon2 a{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.lhjnhCon2Tit{font-size: 30px;color: #fff;padding-top: 166px;padding-bottom: 25px;letter-spacing:20px}
.lhjnhCon2Bri{font-size: 18px;color: #fff;letter-spacing:20px}

.lhjnhCon3{padding: 50px 0;}
.lhjnhCon3List{margin-left: -28px;padding-bottom: 60px;}
.lhjnhCon3List li{width: 380px;height: 224px;overflow: hidden;background: #fff;box-shadow: 0 0 10px #aaa;position: relative;float: left;margin-left: 28px;}
.lhjnhCon3ListImg{width: 360px;height: 202px;overflow: hidden;margin-left: 10px;margin-top: 10px;}
.lhjnhCon3ListImg img{display: block;}
.lhjnhCon3ListTit{position: absolute;top: 30px;left: 30px;font-size: 24px;color: #fff;}
.lhjnhCon3Mid-1{padding-top: 40px;}
.shipin{width: 585px;height: 370px;}
.video-js .vjs-big-play-button{width: 60px;height: 60px;border-radius: 50%;left: 50%;top:50%;margin-left: -30px;margin-top: -30px;}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{top: 7px;}
.vjs-poster{background-size: 100%;}

/*乐活嘉年华   END */

/*  首页  */

.xmfbTit{text-align: center;font-size: 48px;position: relative;margin-bottom: 55px;}
.xmfbTit:before{content: '';width: 34%;height: 1px;position: absolute;left: 0;top: 50%;background: #e5e5e5;}
.xmfbTit:after{content: '';width: 34%;height: 1px;position: absolute;right: 0;top: 50%;background: #e5e5e5;}
.xmfbTit a{color: #333;}
.xmfbTit span{display: block;font-size: 30px;color: #8c8c8c;}
.footLeft{background: #eeb55a;position: fixed;bottom: 0;left: 0;padding: 10px;}
.footLBox{width: 318px;height: 156px;background: url("../images/footlBbg_06.jpg") no-repeat center;border: 1px #edc98b solid;text-align: center;position: relative;}
.footLBImg{padding-top: 34px;padding-bottom: 10px;}
.footLBTit{font-size: 14px;color: #fff;}
.djtpBtn{display: inline-block;width: 103px;height: 26px;line-height: 26px;text-align: center;color: #fff;border: 1px #fff dashed;margin-top: 15px;}
.footClose{display: block;width: 10px;height: 10px;position: absolute;right: 15px;top: 15px;background: url("../images/close_06.png") no-repeat center;cursor: pointer;}

/*indexPart2*/

.indexPart2{padding:0 5% 0 5%;}

/**********roundabout**********/
/*.roundabout_box {height:587px;width:1710px;!*margin:40px auto 20px auto;*! margin: 0 auto;overflow: hidden;}*/
.roundabout-holder{list-style:none;width:1315px;height:590px;margin:0 auto;}
.roundabout-moveable-item{font-size:12px!important;height:425px;width:650px;cursor:pointer;background:#f9f9f9;}
.roundabout-in-focus{cursor:auto;border-left:1px #fff solid;border-right:1px #fff solid;}
.roundabout-in-focus000:hover{-webkit-box-shadow:0px 0px 20px #787878;-moz-box-shadow:0px 0px 20px #787878;background:#f9f9f9;}
.roundabout-holder .text{color:#999;}
.roundabout-in-focus000:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;background:#f9f9f9;color:#3366cc;z-index:999;-webkit-border-top-left-radius:5px;-moz-border-radius-topLeft:5px;border-left:1px solid #aaaaaa;border-top:1px solid #aaaaaa;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}

.roundabout-moveable-item .indexPart2ConTop{height: 110px;background: #929291;color: #fff;font-size: 36px;text-align: center;display: table;vertical-align: middle;width: 100%;}
.roundabout-moveable-item .indexPart2ConTop a{display: table-cell;vertical-align: middle;color: #fff;width: 100%;}
.roundabout-moveable-item .indexPart2ConTop a span{display: block;text-align: center;position: relative;width: 100%;}
.roundabout-moveable-item .indexPart2ConBotm{background: #fff;padding: 0 55px;height: 426px;display: none;}
.roundabout-moveable-item .indexPart2ConBotm1Box{display: block;width: 100%;}
.roundabout-moveable-item .indexPart2ConBotm1{background: #eee;height: 426px;width: 100%;display: table;vertical-align: middle;text-align: center;}
.roundabout-moveable-item .indexPart2ConBotm1Con{display: table-cell;vertical-align: middle;}

.roundabout-in-focus .indexPart2ConBotm1Box{display: none;}
.roundabout-in-focus .indexPart2ConTop{height: 160px;background: #f8b107;color: #fff;font-size: 42px;text-align: center;display: table;vertical-align: middle;width: 100%;}
.roundabout-in-focus .indexPart2ConTop a{display: table-cell;vertical-align: middle;color: #fff;width: 100%;}
.roundabout-in-focus .indexPart2ConTop a span{display: block;padding-bottom: 25px;text-align: center;position: relative;width: 100%;}
.roundabout-in-focus .indexPart2ConTop a span:before{content: '';width: 70px;height: 2px;background: #fff;position: absolute;left: 50%;bottom: 0;margin-left: -35px;}
.roundabout-in-focus .indexPart2ConBotm{background: #fff  no-repeat right bottom;padding: 0 55px;height: 426px;display: block;box-shadow: 0 0 10px #aaa;}
.roundabout-in-focus .indexP2C-BTop{margin-bottom: 60px;}
.roundabout-in-focus .indexP2C-BTopTit{font-size: 24px;color: #000;height: 70px;line-height: 70px;}
.roundabout-in-focus .indexP2C-BTopBri{line-height: 34px;height: 136px;overflow: hidden;font-size: 18px;color: #666;overflow: hidden;}
.roundabout-in-focus .indexP2C-BList a{display: inline-block;width: 146px;height: 45px;line-height: 45px;text-align: center;background: #eeeeee;font-size: 16px;}
.roundabout-in-focus .indexP2C-BList a span{display: inline-block;padding-right: 50px;position: relative;}
.roundabout-in-focus .indexP2C-BList a span:before{content: '';background: url("../images/jtbg_05.png");width: 8px;height: 15px;position: absolute;right: 0;top: 50%;margin-top: -7.5px;}

.indexP2C-B1CTit{font-size: 24px;color: #f8b107;}

/*indexPart2   END  */
.indexPart3{padding: 4% 5% 0 5%;}
.xmfbCon{}
.xmfbConLeft{width: 1037px;height: 680px;background: url("../images/map_06.jpg") no-repeat center;float: left;background-size: 100%;position: relative;}
.xmfbConRight{float: right;width: 534px;box-shadow: 0 0 10px #aaa;position: relative;z-index: 9;box-sizing: border-box;padding: 0 50px;height: 595px;}
.xmfbConRight:before{content: '';width: 21px;height: 31px;background: url("../images/sanjiao_12.png") no-repeat center;position: absolute;left: -21px;top: 100px;opacity: .7;}
.xmfbConRight-1{}
/*.xmfbCon{min-width: 1715px;}*/
.dibiao{width: 48px;height: 62px;background: url("../images/dbbg_16.png") no-repeat center;position: absolute;left: 0;top:0;cursor: pointer;}
.dibiao:before{content: '';width: 33px;height: 33px;background: url("../images/dbbg1_16.png") no-repeat center;position: absolute;left: 4px;bottom: -10px;animation: dbAn 1.5s linear 1.5s infinite alternate;}
.xmfbConLeft .dibiao:nth-child(odd):before{animation: dbAn 1s linear 1s infinite alternate;}
.dibiao:hover:before{display: none;}
.dibiaoNr{width: 40px;text-align: center;height: 50px;line-height: 50px;overflow: hidden;font-size: 12px;color: #ef1717;}
.dibiaoB .dibiaoNr{color: #ffb749;}
.dibiaoC .dibiaoNr{color: #67ba4f;}
.dibiaoD .dibiaoNr{color: #17bfef;}
.xinjiang{left:220px;top: 136px;}
.xizang{left:240px;top: 300px;}
.gansu{left:420px;top: 190px;}
.qinghai{left:405px;top: 250px;}
.sichuan{left:500px;top: 330px;}
.yunnan{left:450px;top: 410px;}
.neimenggu{left:585px;top: 150px;}
.shanxi{left:612px;top: 250px;}
.chongqing{left:590px;top: 326px;}
.guizhou{left:570px;top: 380px;}
.guangxi{left:630px;top: 430px;}
.shanxisx1{left:660px;top: 215px;}
.henan{left:674px;top: 275px;}
.hubei{left:663px;top: 348px;}
.guangdong{left:700px;top: 417px;}
.heilongjiang{left:837px;top: 50px;}
.jilin{left:858px;top: 100px;}
.liaoning{left:815px;top: 136px;}
.beijing{left:733px;top: 148px;}
.hebei{left:687px;top: 166px;}
.shandong{left:755px;top: 245px;}
.jiangsu{left:800px;top: 265px;}
.anhui{left:766px;top: 313px;}
.zhejiang{left:819px;top: 340px;}
.jiangxi{left:733px;top: 340px;}
.fujian{left:790px;top: 397px;}
.taiwan{left:850px;top: 410px;}
.tianjin{left:734px;top: 185px;}

.xmfbConRight-1 .hd{ overflow:hidden;  text-align: center; }
.xmfbConRight-1 .hd .prev,.xmfbConRight-1 .hd .next{   width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
    cursor:pointer; background:url("images/arrow.png") no-repeat;display:none;}
.xmfbConRight-1 .hd ul{ overflow:hidden; zoom:1; margin-top:20px; display: inline-block;}
.xmfbConRight-1 .hd ul li{ display: inline-block; width:35px; height:3px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background: #7d7d7d; margin-left: 5px;}
.xmfbConRight-1 .hd ul li.on{ background: #f19500;}
.xmfbConRight-1 .bd{ /*padding:10px; */  }
.xmfbConRight-1 .bd ul{ overflow:hidden; zoom:1; }
.xmfbConRight-1 .bd ul li{ float:left; _display:inline; overflow:hidden;  }
.xmfbConR-1Tit{font-size: 24px;color: #333;font-weight: bold;height: 75px;line-height: 75px;margin-top: 20px;}
.xmfbConR-1Img{margin-bottom: 27px;}
.xmfbConR-1Img img{width: 100%;}
.xmfbConR-1Con{font-size: 18px;color: #419d9e;padding-bottom: 20px;border-bottom: 1px #ddd solid;margin-bottom: 25px;}
.xmfbConR-1Cp1 span{display: inline-block;width: 45%;line-height:35px;height: 35px;}
.xmfbConR-1Cp2{line-height:35px;height: 35px;}
.xmfbConR-1Bri{height: 90px;line-height: 30px;overflow: hidden;font-size: 14px;color: #666;}

.section.footerss .fp-tableCell{display: block!important;}




a,*:before,*:after,.jylcList li img,.whcyImg img,.whcyRight *,.zstjLbImg img,.moreBtn,.jxImg img,.rsjnhC1B-1,.zcltCon1LbImg img,.lhjnhCon3ListImg img,.dibiao
{-webkit-transition:all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;  }
.jylcList li:hover img,.xfwmConRWrapTop:hover .whcyImg img,.zstjTop .bd ul li:hover .zstjLbImg img,.jxList li:hover .jxImg img,.zcltCon1Lb .bd ul li:hover .zcltCon1LbImg img,.lhjnhCon3List li:hover .lhjnhCon3ListImg img,.dibiao:hover
{transform:scale(1.08);-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-o-transform:scale(1.08);-ms-transform:scale(1.08);}

/* 动画 */

@keyframes dbAn
{
    from {opacity: 1;}
    to {opacity: .3;}
}

@media only screen and (max-width:1440px ) {

    .header .headNav{padding: 0 80px 0 40px;}
    .roundabout-moveable-item .indexPart2ConTop{font-size: 25px;height: 80px;}
    .indexP2C-B1CTit{font-size: 18px;}
    .indexP2C-B1CImg img{width: 100px;height: 100px;}
    .roundabout-moveable-item .indexPart2ConBotm1{height: 290px;}
    .roundabout-in-focus .indexPart2ConBotm{height: 340px;}
    .roundabout-in-focus .indexP2C-BTopBri{height: 102px;}
    .roundabout-holder{height: 340px;width: 1200px;}
    .indexPart2{padding-top: 5%;}
    .roundabout-in-focus .indexP2C-BTopTit{font-size: 20px;}
    .roundabout-in-focus .indexP2C-BTopBri{font-size: 14px;}
    .roundabout-in-focus .indexPart2ConTop a span{padding-bottom: 15px;}
    .indexRight li{height: 60px;}
    .indexRight li img{width: 32px;height: 32px;}
    .indexRTit{font-size: 12px;}
    .xmfbConLeft{width: 700px;height: 450px;}
    .xmfbConRight{padding: 0 20px;width: 430px;height: 400px;overflow: hidden;}
    .xmfbConR-1Tit{font-size: 16px;height: 30px;line-height: 30px;}
    .xmfbConR-1Img{width: 390px;overflow: hidden;margin-bottom: 15px;height: 150px;}
    .xmfbConR-1Con{font-size: 14px;padding-bottom: 10px;margin-bottom: 10px;}
    .xmfbTit{font-size: 24px;margin-bottom: 10px;}
    .indexPart3{padding-top: 5%;}
    .xmfbTit span{font-size: 24px;}
    .indexHead .head{height: 75px;line-height: 75px;}
    .indexHead .headNav li a{font-size: 16px;}
    .indexHead .headfx{padding-top: 22px;}
    .xinjiang{left: 150px;top: 45px;}
    .xizang{left: 140px;top: 180px;}
    .gansu{left: 257px;top:93px;}
    .qinghai{left: 235px;top: 152px;}
    .neimenggu{left: 360px;top: 94px;}
    .shanxi{left: 380px;top: 160px;}
    .shanxisx1{left: 420px;top: 145px;}
    .sichuan{left: 300px;top: 200px;}
    .chongqing{left: 360px;top: 220px;}
    .henan{left: 444px;top: 165px;}
    .hebei{left: 457px;top: 100px;}
    .yunnan{left: 290px;top: 260px;}
    .guizhou{left: 400px;top: 240px;}
    .hubei{left: 473px;top: 198px;}
    .guangxi{left: 420px;top: 280px;}
    .guangdong{left: 480px;top: 277px;}
    .fujian{left: 510px;top: 247px;}
    .heilongjiang{left: 607px;top: 0px;}
    .jilin{left: 538px;top: 40px;}
    .beijing{left: 487px;top: 78px;}
    .tianjin{left: 480px;top: 95px;}
    .liaoning{left: 555px;top: 80px;}
    .shandong{left: 515px;top: 135px;}
    .jiangsu{left: 550px;top: 165px;}
    .jiangxi{left: 483px;top: 220px;}
    .anhui{left: 506px;top: 173px;}
    .zhejiang{left: 560px;top: 200px;}
    .taiwan{left: 570px;top: 250px;}
    .xmfbConR-1Cp1 span{height: 25px;line-height: 25px;}
    .xmfbConR-1Bri{height: 60px;}
    .footLBox{width: 210px;height: 140px;}


}


